<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://github.com/Enngage/ngx-paypal">Angular PayPal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/Enngage/ngx-paypal">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container-wrapper">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Richard Sustek 2022</p>
  </div>
  <!-- /.container -->
</footer>