<h2 class="content-head is-center">
    Api
</h2>

<div class="pure-g">
    <div class="l-box pure-u-1">
        To use PayPal component, you need to provide it with
        <strong>PayPalConfig</strong> model where you can define all supported properties. For explanation of what these properties
        do and how they should be used, please refer to official PayPal documentation:

        <div style="margin-top: 15px">
            <a href="https://developer.paypal.com/demo/checkout/#/pattern/client" target="_blank">
                <button class="pure-button">Client side integration</button>
            </a>
        </div>
        <div style="margin-top: 15px">
            <a href="https://developer.paypal.com/demo/checkout/#/pattern/server" target="_blank">
                <button class="pure-button">Server side integration</button>
            </a>
        </div>
    </div>
    <div class="l-box pure-u-1">
        <h3 class="content-subhead">
            PayPalConfig
        </h3>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Required for</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>integrationType</td>
                    <td>PayPalIntegrationType</td>
                    <td>Type of the integration (client | server)</td>
                    <td>Both</td>
                </tr>
                <tr>
                    <td>environment</td>
                    <td>PayPalEnvironment</td>
                    <td>Environment (sandbox | production)</td>
                    <td>Both</td>
                </tr>
                <tr>
                    <td>commit</td>
                    <td>boolean</td>
                    <td>Show 'Pay Now' button config</td>
                    <td></td>
                </tr>

                <tr>
                    <td>payment</td>
                    <td>() => Observable&lt;string></td>
                    <td>Called to create new payment for server side integration</td>
                    <td>Server side integration</td>
                </tr>

                <tr>
                    <td>onAuthorize</td>
                    <td>data: IPayPalPaymentCompleteData, actions: any) => Observable&lt;void></td>
                    <td>Called to execute payment for server side integration</td>
                    <td>Server side integration</td>
                </tr>
                <tr>
                    <td>client</td>
                    <td>IPaypalClient</td>
                    <td>Client tokens for client side integration</td>
                    <td>Client side integration</td>
                </tr>
                <tr>
                    <td>transactions</td>
                    <td>IPayPalTransaction[]</td>
                    <td>Array of transaction, required for client side integration</td>
                    <td>Client side integration</td>
                </tr>
                <tr>
                    <td>onPaymentComplete</td>
                    <td>(data: IPayPalPaymentCompleteData, actions: any) => void</td>
                    <td>Called for client side integration when payment is executed</td>
                    <td></td>
                </tr>
                <tr>
                    <td>onPaymentComplete</td>
                    <td>(data: IPayPalPaymentCompleteData, actions: any) => void</td>
                    <td>Called for client side integration when payment is executed</td>
                    <td>Client side integration</td>
                </tr>
                <tr>
                    <td>button</td>
                    <td>IPayPalButtonStyle</td>
                    <td>Button configuration</td>
                    <td></td>
                </tr>
                <tr>
                    <td>funding</td>
                    <td>IPayPalFunding</td>
                    <td>Paypal funding configuration</td>
                    <td></td>
                </tr>
                <tr>
                    <td>onError</td>
                    <td>(err: any) => void</td>
                    <td>Called when PayPal experiences an error</td>
                    <td></td>
                </tr>
                <tr>
                    <td>onCancel</td>
                    <td>(data: IPayPalCancelPayment, actions: any) => void</td>
                    <td>Called when user cancels payment</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>