<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">PayPal for Angular 5+</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a [routerLink]="['/']" class="pure-menu-link">Getting started</a>
            </li>
            <li class="pure-menu-item">
                <a [routerLink]="['/api']" class="pure-menu-link">Api</a>
            </li>
            <li class="pure-menu-item">
                <a href="https://github.com/Enngage/ngx-paypal" target="_blank" class="pure-menu-link">GitHub</a>
            </li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <router-outlet>
        </router-outlet>
    </div>
    <div class="footer l-box is-center">
        Star on GitHub to help further development and show support
    </div>
</div>