<h2 class="content-head is-center">
    Getting started
</h2>

<div class="pure-g">

    <div class="l-box pure-u-1">
        <h3 class="content-subhead">
            Live example (client side integration)
        </h3>
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>

    <div class="l-box pure-u-1">
        <h3 class="content-subhead">
            Install
        </h3>
        <pre class="prettyprint" [innerText]="installCode"></pre>
    </div>

    <div class="l-box pure-u-1">
        <h3 class="content-subhead">
            .html
        </h3>
        <pre class="prettyprint" [innerText]="htmlCode"></pre>
    </div>

    <div class="l-box pure-u-1">
        <h3 class="content-subhead">
            .ts
        </h3>
        <pre class="prettyprint" [innerText]="tsCode"></pre>
    </div>

</div>